@import "../../../styles/mixins";

.days-details {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  gap: 3rem;
  padding: 1.5rem;
  width: 70vw;
  left: 50%;
  top: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  overflow: hidden;

  @include respond(phone) {
    padding: 2rem;
    gap: 4rem;
    width: min(30vw, 70rem);
  }
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
