@import "../../../styles/mixins";

.custom-program {
  width: 90vw;
  padding: min(6vw, 3rem);
  background-color: var(--color-white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include respond(phone) {
    width: min(50vw, 70rem);
    gap: 4rem;
  }
}
