@import "../../styles/mixins";

.hidden-radio-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-10);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5rem;
  text-transform: capitalize;
  width: 10rem;
  font-weight: bold;
  border-radius: 5px;
  z-index: 1;

  @include respond(phone) {
    width: 12rem;
    padding: 0.5rem 1rem;
  }

  span {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 1rem;
    background-color: var(--dark-blue-50);
    border-radius: 5px;
    transition: 0.5s all;
    z-index: -1;
  }
}
