@import "../../styles/mixins";

.delete-window {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: min(70vw, 40rem);
  padding: min(3vw, 6rem);
  background-color: var(--color-white);
  border-radius: 5px;
  text-align: center;

  @include respond(phone) {
    gap: 5rem;
    border-radius: 10px;
  }
}
