@import "../../../styles/mixins";

.sets-details {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
  padding: 1.4rem;
  gap: 3rem;
  width: 90vw;
  left: 50%;
  top: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  overflow: hidden;

  @include respond(phone) {
    width: min(50vw, 70rem);
    padding: min(4vw, 4rem);
    gap: 4rem;
    border-radius: 10px;
  }

  &__weight-unit {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 5px;
    background-color: var(--color-grey-10);
    cursor: pointer;
    overflow: hidden;
    color: var(--color-grey-20);

    @include respond(phone) {
      font-size: 1.5rem;
    }

    span {
      display: inline-block;
      padding: 0.4rem;
      @include respond(phone) {
        padding: 0.8rem;
      }
    }
  }
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
