@import "../../styles/mixins";

.login-page {
  display: flex;
  align-items: center;
  overflow: hidden;

  &__forms-container {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 1.6rem;
    height: 100vh;
    @include respond(phone) {
      flex-direction: column;
      flex-basis: 35%;
      text-align: left;
    }
  }

  &__background {
    position: relative;
    flex: 1;
    background-image: url(../../assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--dark-blue);
    top: 0;
    left: 0;
    opacity: 0.75;
  }
}
