.superSet {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 3rem 5rem;
  background-color: var(--color-grey-10);

  &__icon {
    font-size: 4rem;
    cursor: pointer;
    color: var(--dark-blue-50);
  }
}

.toggle-sets {
  display: flex;
  align-items: center;
  gap: 3rem;
}
