@import "../../styles/mixins";

.rest-options {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  gap: 5rem;
  padding: min(4vw, 3rem);
  width: 75vw;
  left: 50%;
  top: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  overflow: hidden;

  @include respond(phone) {
    padding: min(4vw, 3rem);
    gap: 6rem;
    width: min(60vw, 60rem);
  }
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
