@import "../../../styles/mixins";

.update-basicWorkout {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: var(--color-white);
  padding: 2rem 4rem;
  border-radius: 8px;
  width: 80vw;
  height: 80vh;
  overflow-y: scroll;

  @include respond(phone) {
    width: min(50vw, 60rem);
  }
}
