@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
}

:root {
  --dark-blue: #081015;
  --dark-blue-50: #1e40af;
  --color-white: white;
  --color-grey-10: #eaebed;
  --color-grey-20: #b1b1b1;
  --color-purple: #4778e0;
}

.full-width {
  width: 100% !important;
}

.check-sets {
  animation: shaking 0.5s linear 0.5s infinite alternate;
}

@keyframes shaking {
  0% {
    transform: translateX(2px);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(2px);
  }
}
