@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
}

:root {
  --dark-blue: #081015;
  --dark-blue-50: rgb(30 64 175);
  --color-white: white;
  --color-grey-10: #eaebed;
  --color-grey-20: #b1b1b1;
  --color-purple: #4778e0;
}

.full-width {
  width: 100% !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
