.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  border-top: 1px solid var(--color-grey-20);
  border-bottom: 1px solid var(--color-grey-20);
  background-color: var(--color-grey-10);
  height: 5rem;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    cursor: pointer;
    flex-basis: 3%;
    background-color: var(--color-white);
  }
}
