@import "../../styles/mixins";

.nav-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  @include respond(phone) {
    justify-content: space-between;
  }
}
